  /*ウィンドウ幅が最大479pxまでの場合に適用*/
@media screen and (max-width: 479px) {
     /* header */
     .wrapper {
          width: 200px;
          height: auto;
     }
     
     .contents {
        float: none;
     }
    .header {
        background-color: #FFCE7a;
        width: 200px;
        height: 200px;
    }
    .white-item {
          width: 60px;
          height: 160px;
          margin-right: 70px;
          margin-left: auto;
     }
     .item-left {
          margin: 10px 10px 0 10px
     }
     .item-right {
          margin: 0 10px 10px 10px;
     }
     /* end of header */
     /* main */
     .fruits {
          margin: 20px 0 0 30px;
     }
     .main {
          display: flex;
          flex-direction: column;
          text-align: center;
          width: 200px;
          height: auto;
     }
     .blue {
          width: 200px;
          height: 100px;
     }
     .green {
          width: 200px;
          height: 200px;
     }
     /* end of main */
     /* footer */
     .footer {
          width: 200px;
     }
}